.bold {
	font-weight: bold;
}
 /*------------------------------ 角丸CSS */
    #xsnazzy { background:transparent; margin:1em; padding:0; }
    #xsnazzy .h, #xsnazzy p { margin:0; padding:10px 15px; line-height:2em; }
    #xsnazzy .h { font-size:1.5em; color:#60c8d8; padding-bottom:0; font-weight:bold; }
    #xsnazzy .xtop, #xsnazzy .xbottom {display:block; background:transparent; font-size:1px; }
    #xsnazzy b { display:block; overflow:hidden; }
    #xsnazzy .xb1, #xsnazzy .xb2, #xsnazzy .xb3 {height:1px; }
    #xsnazzy .xb2, #xsnazzy .xb3, #xsnazzy .xb4 {background:#FFFFFF; border-left:1px solid #708090; border-right:1px solid #708090; }
    #xsnazzy .xb1 { margin:0 5px; background:#708090; }
    #xsnazzy .xb2 { margin:0 3px; border-width:0 2px; }
    #xsnazzy .xb3 { margin:0 2px; }
    #xsnazzy .xb4 { height:2px; margin:0 1px; }
    #xsnazzy .xboxcontent { display:block; background:#FFFFFF; border:0 solid #708090; border-width:0 1px; }
    

/*2013.11.26 nishi ADD >> */
.CursorPoint{
	cursor:pointer;
}

.button01{
	height:40px;
}
.StartIcon{
	height:40px;
	width:40px;
	cursor:pointer;
}

/*2013.11.26 nishi ADD << */


/*2013.07.25 nishi ADD >> */
/*ユーザー情報（小）*/
.userImage01{
	height:40px;
	width:40px;
	cursor:pointer;
}

/*ユーザー情報（大）*/
.userImage02{
	height:100px;
	width:100px;
	box-shadow:2px 2px 4px rgba(0,0,0,0.5);
	border-collapse: separate;
}


/*編集ダイアログ*/
.editDialog{
	padding: 10px 10px 10px 10px;
	background:#FFFFFF;
}

.allUserList > div{
	display: inline-block;
}

.inlineB > div{
	display: inline-block;
}

.userDialog{
	max-width: 500px;
	min-width: 350px;
}

.oneuser{
	width: 250px;
	min-height: 70px;
}


.subTittle {
	font-size:16pt;
	font-weight:bold;
}

/*2013.07.25 nishi ADD << */div.qalist{
    width: 900px;
}

/*2013.07.25 nishi ADD << */div.ansbox{
    width: 790px;
    margin-left:60.0px;
}

div.qalist h3{
    margin-top: 1em;
    font-size: 120%;
    border-bottom: 1ps solid #999;
}
.jumpAnchor{
    text-align: right;
}
div.questionBox,
div.answerBox {
	border-radius: 5px;
	border: 1px solid #666;
	overflow: hidden;
	margin-bottom: 1em;
}
div.questionBox .attachmentFiles,
div.answerBox .attachmentFiles
{
    border-top: 1px dotted #aaa;
}
.bodys{
	width :1000px
	}

div.questionBox .body,
div.answerBox .body {
	/*float: left;*/
	padding: 1em;
	margin-left:95px;
}

div.questionBox .controle,
div.answerBox .controle {
    padding-bottom: 2em;
	float: left;
	text-align: center;
	width: 90px;
}

div.questionBox .controle .number,
div.answerBox .controle .number {
		font-size: 14pt;
	font-family: sans-serif;
	color: rgb(0, 128, 128);
	text-align: center
}
div.questionBox .controle .linkNumber,
div.answerBox .controle .linkNumber {
	    font-size: 14pt;
    font-family: sans-serif;
    color: rgb(0,128,255);
    text-align: center
}
div.qaCount {
	width: 100%;
}

div.qaCount {
	text-align: center;
}

div.qaCount div.likeBox button,
div.answerBox div.likeBox button {
	width: 80%;
}
div.answerBox .bestAnswerBox{
    text-align: center;
}
div.qaInfo{
    border-top: 1px solid #000;
    padding: 0.5em;
    text-align:right;
    /*margin-right:23.0px;*/
    clear:both;
}
div.qaInfo .value{
    color:rgb(0,128,255);
}
div.qaInfo .separator{
    color:#999;
}
.answerList{
    padding-left: 2em;
}    

.newAnswerInputBox{
    margin-top: 1em;
    border-top: 1px solid #aaa;
    padding: 0.5em 0 0.5em 0;
}
.inputAnswerActions{
	text-align: center;
}

.BestAnwerImage {
	position: absolute;
	left: 880px;
}

.EndImage {
	position: absolute;
	left: 00px;
}

/*ビュー用*/
.Column_Main{
	width: 80%;
}
.Column_count_G{
	background-color:rgb(0,128,192);
	height:24px;
	max-width: 50px;
	min-width: 50px;
}
.Column_count_A{
	background-color:rgb(255,128,255);
	max-width: 50px;
	min-width: 50px;
	height:24px;
}
.Column_count_V{
	background-color:rgb(255,128,0);
	max-width: 50px;
	min-width: 50px;
	height:24px;
}
.Column_status{
	max-width: 50px;
	min-width: 50px;
}